In [32]:
import pandas as pd
import numpy as np

In [73]:
f1 = pd.read_csv('./dataFolder/inertManip_nd_tepfr_vert.csv', header = None)
f1.columns = ['Tracking_Error', '1', '2', 'concat']

In [74]:
f1.head()

   Tracking_Error      1         2    concat
0        0.122015  LSF_1  vertical  m001k001
1        0.118489  LSF_1  vertical  m001k001
2        0.127112  LSF_1  vertical  m001k001
3        0.118890  LSF_1  vertical  m001k001
4        0.115918  LSF_1  vertical  m001k001

In [75]:
m = []
k = []
for item in list(f1.concat):
    a, b = item[0:4], item[4:8]
    m.append(a)
    k.append(b)

f1['a'] = m
f1['t'] = k
f1.drop(columns = ['1', '2', 'concat'], inplace = True)
f1.head()

   Tracking_Error     a     t
0        0.122015  m001  k001
1        0.118489  m001  k001
2        0.127112  m001  k001
3        0.118890  m001  k001
4        0.115918  m001  k001

In [78]:
f1.a.unique(), f1.t.unique()

(array(['m001', 'm010', 'm100'], dtype=object),
 array(['k001', 'k010', 'k100'], dtype=object))

In [79]:
map_dict = {'m001': 0.1,
           'm010': 1,
           'm100': 10,
           'k001':0.1,
           'k010':1,
           'k100':10}

f1['abdo_mass'] = f1['a'].map(map_dict)
f1['torsional_spring'] = f1['t'].map(map_dict)
f1.drop(columns = ['a', 't'], inplace = True)

In [80]:
f1['length_scale'] = [1]*len(f1)
f1['petiole_length'] = [0]*len(f1)
f1.head()

   Tracking_Error  abdo_mass  torsional_spring  length_scale  petiole_length
0        0.122015        0.1               0.1             1               0
1        0.118489        0.1               0.1             1               0
2        0.127112        0.1               0.1             1               0
3        0.118890        0.1               0.1             1               0
4        0.115918        0.1               0.1             1               0

In [81]:
for col in f1[['abdo_mass', 'torsional_spring', 'length_scale', 'petiole_length']]:
    print(f1[col].unique())

[ 0.1  1.  10. ]
[ 0.1  1.  10. ]
[1]
[0]

In [106]:
f2 = pd.read_csv('./dataFolder/sishManip_nd_tepfr_vert.csv', header = None,)
f2.columns = ['Tracking_Error', '1', '2', '3', 'concat']

In [107]:
f2['l'] = f2.concat.str.split('_', expand = True)[0]
f2['p'] = f2.concat.str.split('_', expand = True)[1]

In [108]:
f2['l'].unique(), f2['p'].unique()

(array(['L05', 'L10', 'L20'], dtype=object),
 array(['E0', 'Ep2', 'Ep4'], dtype=object))

In [109]:
map_dict = {'L05': 0.5,
           'L10': 1,
           'L20': 2,
           'E0': 0,
           'Ep2': 0.2,
           'Ep4': 0.4}
f2['length_scale'] = f2['l'].map(map_dict)
f2['petiole_length'] = f2['p'].map(map_dict)
f2['abdo_mass'] = [1]*len(f2)
f2['torsional_spring'] = [1]*len(f2)

f2.drop(columns = ['1', '2', '3', 'concat','l', 'p'], inplace = True)
f2.head()

   Tracking_Error  length_scale  petiole_length  abdo_mass  torsional_spring
0        0.103974           0.5             0.0          1                 1
1        0.101292           0.5             0.0          1                 1
2        0.103949           0.5             0.0          1                 1
3        0.102979           0.5             0.0          1                 1
4        0.106572           0.5             0.0          1                 1

In [110]:
for col in f2[['abdo_mass', 'torsional_spring', 'length_scale', 'petiole_length']]:
    print(f2[col].unique())

[1]
[1]
[0.5 1.  2. ]
[0.  0.2 0.4]

In [147]:
df = pd.concat([f1, f2], axis = 0, sort = True)
df.reset_index(drop = True, inplace = True)

In [148]:
len(f1), len(f2), len(df)

(360, 360, 720)

In [149]:
360/40

9.0

In [150]:
s = df.duplicated()
subset = df[s]

In [151]:
subset

     Tracking_Error  abdo_mass  length_scale  petiole_length  torsional_spring
59         0.118256        0.1           1.0             0.0               1.0
279        0.018646       10.0           1.0             0.0               0.1
480        0.038027        1.0           1.0             0.0               1.0
481        0.040666        1.0           1.0             0.0               1.0
482        0.039563        1.0           1.0             0.0               1.0
483        0.038313        1.0           1.0             0.0               1.0
484        0.036908        1.0           1.0             0.0               1.0
485        0.038509        1.0           1.0             0.0               1.0
486        0.036368        1.0           1.0             0.0               1.0
487        0.037023        1.0           1.0             0.0               1.0
488        0.037978        1.0           1.0             0.0               1.0
489        0.039505        1.0           1.0             0.0               1.0
490        0.037516        1.0           1.0             0.0               1.0
491        0.038197        1.0           1.0             0.0               1.0
492        0.037628        1.0           1.0             0.0               1.0
493        0.037820        1.0           1.0             0.0               1.0
494        0.039429        1.0           1.0             0.0               1.0
495        0.037945        1.0           1.0             0.0               1.0
496        0.038554        1.0           1.0             0.0               1.0
497        0.037983        1.0           1.0             0.0               1.0
498        0.040228        1.0           1.0             0.0               1.0
499        0.038824        1.0           1.0             0.0               1.0
500        0.037699        1.0           1.0             0.0               1.0
501        0.036998        1.0           1.0             0.0               1.0
502        0.035936        1.0           1.0             0.0               1.0
503        0.035940        1.0           1.0             0.0               1.0
504        0.038326        1.0           1.0             0.0               1.0
505        0.037802        1.0           1.0             0.0               1.0
506        0.038592        1.0           1.0             0.0               1.0
507        0.036854        1.0           1.0             0.0               1.0
508        0.037247        1.0           1.0             0.0               1.0
509        0.037980        1.0           1.0             0.0               1.0
510        0.037929        1.0           1.0             0.0               1.0
511        0.038209        1.0           1.0             0.0               1.0
512        0.037191        1.0           1.0             0.0               1.0
513        0.038516        1.0           1.0             0.0               1.0
514        0.038171        1.0           1.0             0.0               1.0
515        0.036519        1.0           1.0             0.0               1.0
516        0.037401        1.0           1.0             0.0               1.0
517        0.037751        1.0           1.0             0.0               1.0
518        0.037828        1.0           1.0             0.0               1.0
519        0.038396        1.0           1.0             0.0               1.0
635        0.020311        1.0           2.0             0.0               1.0
713        0.009745        1.0           2.0             0.4               1.0

In [152]:
len(subset)

44

In [153]:
subset.to_csv('./dataFolder/DuplicatedData.csv')

In [154]:
subset.index[2:-2]

Int64Index([480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492,
            493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505,
            506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
            519],
           dtype='int64')

In [155]:
# finally save the data matrix in a useable form

final_dataStruct = df.drop(index = subset.index[2:-2])

In [156]:
len(final_dataStruct)

680

In [125]:
9*40 + 9*40 - 40

680

In [159]:
final_dataStruct.to_csv('./dataFolder/jorge_vertical_oscillating.csv', index = False)